@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.Texto4{
    font-family: 'Russo One', sans-serif;
    margin-top: 100px;
    text-align: center;
}
.Titulo{
    text-shadow: rgb(255, 0, 0) 0px 0px 10px;
}
.EasterEgg{
    box-shadow: rgb(255, 0, 0) 0px 0px 10px;
}
.Coleccionable{
    box-shadow: rgb(255, 255, 0) 0px 0px 10px;
}
.Consejo{
    box-shadow: rgb(0, 255, 255) 0px 0px 10px;
}